<form class="deck-form" action="/deck/edit" method="get">
  <button class="deck-review btn btn-warning mb-3" type="submit">Review Deck</button>
  <button class="deck-edit btn btn-info mb-3" type="submit">Edit Deck</button>
  <button class="deck-add btn btn-success mb-3" type="button">New Deck</button>
  <ul class="list-group">
  <% @decks.each do |id, deck| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <input type="radio" name="deck-id" id="<%= id %>" value="<%= id %>" required>
        <label for="<%= id %>"><%= deck["name"] %></label>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div>
        <span class="badge bg-warning rounded-pill"><%=  deck['memo'] %></span>
        <span class="badge bg-primary rounded-pill"><%= "created: #{format_date(deck['created_on'])}" %></span>
      </div>
    </li>
  <% end %>
  </ul>
</form>

<dialog>
  <form class="new-deck" action="/deck/new" method="post">
    <div>
      <label class="form-label mt-4" for="deck-name">Deck Name:</label>
      <input class="form-control mb-3" name="deck-name" id="deck-name" maxlength="26" required>
    </div>
    <button class="btn btn-secondary btn-sm" type="submit">Add Deck</button>
    <button class="deck-add-cancel btn btn-secondary btn-sm">Cancel</button>
  </form>
</dialog>
<script src="/javascripts/decks_view.js"></script>