<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-primary"><%= @deck["name"] %></button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
      <a class="dropdown-item deck-rename-link" href="#">Rename deck</a>
      <a class="dropdown-item deck-remove-link" href="#">Remove deck</a>
    </div>
  </div>
</div>

<form class="hidden deck-remove" action="/deck/remove" method="post">
  <input name="deck-id" value="<%= @deck_id %>">
</form>

<dialog class="rename-deck">
  <form class="rename-deck" action="/deck/rename" method="post">
    <div>
      <label for="new-name">Deck Name:</label>
      <input type="text" name="new-name" id="new-name" maxlength="26" required>
      <input type="hidden" name="deck-id" value="<%= @deck_id %>">
    </div>
    <button type="submit">Rename</button>
    <button class="rename-deck-cancel">Cancel</button>
  </form>
</dialog>

<form class="add-character" action="../search/characters?" method="get">
  <input type="hidden" name="page" value="1">
  <input type="hidden" name="deck-id" value="<%= @deck_id %>">
  <input type="hidden" name="deck-name" value="<%= @deck['name'] %>">
  <button class="btn btn-success" type="submit">Add Characters</button>
</form>

<div class="container-flashcards">
  <% @flashcards.each do |card| %>
    <div class="flashcard card bg-secondary">
      <div class="flashcard-content">
        <h2><%= card["hanzi"] %></h2>
        <h4><%= card["pinyin"] %></h4>
        <p><%= card["meaning"] %></p>
      </div>
    </div>
  <% end %>
</div>
<script src="/javascripts/deck_edit.js"></script>